@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --primary: #e8a33d;
  --primary-text: #0f2b22;
  --primary-hover: #d8922c;
  --primary-base: #0f2b22;
  --primary-light: #f8e6c4;
  --primary-dark: #c27f18;
  --primary-gray: #374151;
  --text: #161a1a;
  --blue: #155dfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-background: #0f2b22;
  --color-primary: #0f2b22;
  --color-primary-text: #0f2b22;

  /* Custom Colors */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-prmary-background: var(--primary-background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Keep brand colors consistent */
    --primary: #e8a33d;
    --primary-hover: #d8922c;
    --primary-light: #f8e6c4;
    --primary-dark: #c27f18;
    --primary-background: #0f2b22;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
